<label class="label" for="username">Handle</label>
<div class="field has-addons">
  <p class="control">
    <a class="button is-static">
      @
    </a>
  </p>
  <div class="control is-expanded">
    <input name="username" id="username" class="input" type="text">
  </div>
  <p class="control">
    <a class="button is-static">
      @<%= domain %>
    </a>
  </p>
</div>
