<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Flockingbird</title>
    <link rel="stylesheet" href="css/bulma.min.css">
    <style type="text/css" media="all">
      .is-vertical-center {
        display: flex;
        align-items: center;
      }
    </style>
  </head>
  <body>
  <section class="section hero is-fullheight">
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title">
          Flockingbird
        </h1>
        <p class="subtitle">
        Manage your business network. Decentralised, and privacy friendly.
        </p>
      </div>
    </div>
    <div class="hero-foot">
      <div class="is-flex container">
        <a class="button is-primary is-rounded is-flex-grow-1 mr-1">Register</a>
        <a class="button is-primary is-rounded is-flex-grow-1 ml-1">Login</a>
      </div>
    </div>
  </section>
  </body>
</html>
