<!DOCTYPE html>
<html>
  <head>
    <%= erb(:head) %>
  </head>
  <body>
  <section class="section hero is-fullheight">
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title">
          Flockingbird
        </h1>
        <p class="subtitle">
        Manage your business network. Decentralised, and privacy friendly.
        </p>
      </div>
    </div>
    <div class="hero-foot">
      <div class="is-flex container">
        <a class="button is-primary is-rounded is-flex-grow-1 mr-1" href="/register">Register</a>
        <a class="button is-primary is-rounded is-flex-grow-1 ml-1" href="/login">Login</a>
      </div>
    </div>
  </section>
  </body>
</html>
