<!DOCTYPE html>
<html>
  <head>
    <%= erb(:head) %>
  </head>
  <body>
  <section class="section">
    <div class="container">
      <%= notifications %>
      <%= yield %>
    </div>
  </body>
</html>
