<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Flockingbird - <%= yield_content :title %></title>
    <link rel="stylesheet" href="/css/vendor/bulma.min.css">
    <link rel="stylesheet" href="/css/vendor/materialdesignicons.min.css">
    <link rel="stylesheet" href="/css/application.css">
    <script charset="utf-8">
      document.addEventListener('DOMContentLoaded', () => {
        (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
          var $notification = $delete.parentNode;

          $delete.addEventListener('click', () => {
            $notification.parentNode.removeChild($notification);
          });
        });
      });
    </script>
  </head>
  <body>
  <section class="section">
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
