<form action="/login" method="post">
  <%= erb :_handle_field %>
  <div class="field">
    <label class="label" for="password">Password</label>
    <div class="control">
      <input name="password" id="password" class="input" type="password">
    </div>
  </div>
  <div class="control">
    <button class="button is-primary">Login</button>
  </div>
</form>
