<%- content_for(:title, "My profile") %>
<div class="masthead"></div>
<div class="profile-card">
  <div class="is-horizontal-center is-flex">
    <figure class="avatar image is-inline-block is-96x96">
      <img class="is-rounded" src="https://placekitten.com/96/96">
    </figure>
  </div>
  <div class="level is-mobile">
    <div class="level-left">
      <h1 class="title is-5"><%= profile.name %></h1>
      <%= profile.handle %>
    </div>
    <p class="buttons level-right">
    <%- if may_add_contact? %>
      <form method="post" action="/contacts">
      <input type="hidden" name="handle" value="<%= profile.handle %>"/>
        <button>
          <span class="icon is-small">
            <i class="mdi mdi-account-plus"></i>
          </span>
        </button>
      </form>
    <%- end %>
    <a class="button" href="/profile/edit">
      <span class="icon is-small">
        <i class="mdi mdi-pencil"></i>
      </span>
    </a>
    </p>
  </div>
  <p class="bio"><%= profile.bio %></p>
</div>
