<%- content_for(:title, "My profile") %>
<div class="profile-card">
  <div class="level is-mobile">
    <div class="level-left">
      <h1 class="title is-5"><%= profile.name %></h1>
    </div>
    <p class="buttons level-right">
    <a class="button">
      <span class="icon is-small">
        <i class="mdi mdi-account-plus"></i>
      </span>
    </a>
    <a class="button" href="/profile/edit">
      <span class="icon is-small">
        <i class="mdi mdi-pencil"></i>
      </span>
    </a>
    </p>

  </div>
  <p class="bio"><%= profile.bio %>
  </p>
</div>
