<form action="/register" method="post">
  <div class="field">
    <label class="label" for="username">Username</label>
    <div class="control">
      <input name="username" id="username" class="input" type="text">
    </div>
  </div>
  <div class="field">
    <label class="label" for="password">Password</label>
    <div class="control">
      <input name="password" id="password" class="input" type="password">
    </div>
  </div>
  <div class="field">
    <label class="label" for="email">Email</label>
    <div class="control">
      <input name="email" id="email" class="input" type="email">
    </div>
  </div>
  <div class="control">
    <button class="button is-primary">Register</button>
  </div>
</form>
