<p><%= message %></p>
<form action="/<%= form_action %>" method="post">
  <input name="handle" type="hidden" value="<%= target %>">
  <div class="control">
    <button class="button is-primary">Confirm</button>
  </div>
</form>
